@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Shadows+Into+Light&display=swap');

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
em,
img,
strong,
u,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
article,
aside, 
figure,
figcaption,
footer,
header,
nav,
section,
time,
audio,
video{
  border:0;
  font-size:100%;
  font:inherit;
  margin:0;
  padding:0;
  vertical-align:baseline;
}
html{scroll-behavior:smooth;}
body{
  background: #1d1d1d;
  /* background: rgb(0,13,36);
  background: linear-gradient(90deg, rgba(0,13,36,1) 0%, rgba(9,118,121,1) 35%, rgba(7,99,92,1) 100%); */
  color:#959595;
  font-family:'Shadows Into Light', cursive;
  font-size:18px;
  line-height:1;
}
ol, 
ul,
li{list-style:none;}
strong{font-weight: bold;}
table{
  border-collapse:collapse;
  border-spacing:0;
  width:100%;
}
a,
a:hover{
  color:#959595;
  text-decoration:none;
  cursor:pointer;
}
:focus{outline:0;}

/* CABECALHO */
header{
    background: #1d1d1d;
    position: sticky;
    top: 0;
    z-index: 9;
}
.cabecalho{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.cabecalho img{
    width: 64px;
    height: 64px;
}
.cabecalho nav{
    display: flex;
    justify-content: space-around;
    gap: 2em;
    font-size: 20px;
    text-align: center;
    align-items: center;
}
nav a:hover{
    color: #08fdd8;
    transition: 0.4s;
}

/* CONTEÚDO */
/* SOBRE */
.container{
    width: 80%;
    margin: 0 auto;
}
p{
    font-family: 'Josefin Sans', sans-serif;
    line-height: 20px;
}
.sobre{
    display: flex;
    margin: 3rem 0 9rem 0;
}
.sobre img{
    width: 200px;
    height: 200px;
    border: solid 1px;
    border-color: #1d1d1d;
    border-radius: 15px;
}
.sobre article{
    width: 60%;
    margin-left: 20px;
    background: rgba(95, 95, 95, 0.2);
    padding: 15px;
    border: solid 1px;
    border-color: rgba(95, 95, 95, 0.2);
    border-radius: 5px;
}
h2{
    border-bottom: solid 1px;
    border-color: #959595;
    margin-bottom: 1rem;
    color: #08fdd8;
    font-size: 25px;
    padding-bottom: 2px;
}
span{color: #08fdd8;}

/* SKILLS */
.skills{margin: 3em 0 3em 0;}
h4{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 1em;
}
.skills-all{
    background: rgba(95, 95, 95, 0.2);
    border: solid 1px;
    border-color: rgba(95, 95, 95, 0.2);
    border-radius: 5px;
}
.skills-flex, .skill-flex1{
    display: flex;
    height: 13em;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.skill-flex1{
    width: 60%;
    margin: 0 auto 2em;
}
.skills-flex article{
    width: 25%;
    padding: 1em 0;
}
.skill-flex1 article{
    padding: 1em 0;
    width: 33%;
}
.skill-flex1 img{
    margin: 0 auto;
}
h3{
    margin: 1rem 0;
    color: #08fdd8;
}

/* PROJETOS */
.projetos{margin: 3em 0 3em 0;}
.projetos1, .rede-social1{
    background: rgba(95, 95, 95, 0.2);
    border: solid 1px;
    border-color: rgba(95, 95, 95, 0.2);
    border-radius: 5px;
    padding: 1em 0 0 1em;
}
.projetos1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.projetos-grid{
    background: rgba( 8, 8, 8, 0.15 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 0.3px solid rgba(255, 255, 255, 0.047);
    margin-bottom: 20px;
}
.projetos-grid img{
    object-fit: cover;
    object-position: center;
    width: 200px;
    height: 200px;
    padding: 10px;
}
.projetos-grid p{
    width: fit-content;
    margin: 5px auto;
    font-size: 16px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    padding: 2px;
}
.projetos-grid:hover p{
    color: #08fdd8;
}
.projetos-grid:hover{
    transform: scale(1.05);
    transition: .5s ease all;
}

/* REDES SOCIAIS */
.rede-social{margin: 3em 0 3em 0;}
.rede-social1{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.rede-social1 a{
    width: 6%;
    font-family:'Josefin Sans', sans-serif;
}
.rede-social1 a:hover{
    color: #08fdd8;
    transition: 0.4s;
}

/* RODAPÉ */
footer{
    border-top: solid 1px;
    text-align: center;
    padding: 1em 0;
}

@media screen and (max-width: 1024px){
    .container{max-width: 100%;}
    .cabecalho nav{
        width: 40%;
        gap: 1em;
        margin-right: 2em;
        font-size: 18px;
    }
    .sobre{
        display: block;
        margin: 2em auto 2em;
    }
    .sobre img{
        width: 100%;
        height: 100%;
    }
    .sobre article, .skills-flex, .skills-flex1{
        width: fit-content;
        height: 100%;
        margin: 0 auto;
        gap: 25px;
    }
    .skill-flex1{
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2em;
    }
    .skill-flex1 article{width: 33%;}
    .skills-flex p{display: none;}

    /* PROJETOS */
    .projetos-grid{margin: 10px;}
}